:root{
    --heightOfSection: 93vh;
}


*, html{
    margin: 0;
    padding: 0;
}

.mainContainer{
    margin:0;
    display:flex;
    flex-direction: column;
}

.section{
    border: solid 3px #555555;
     height: 100vh;
     min-height:500px;
}
.hero{
    border: solid 3px black;
    height: var(--heightOfSection);
    box-sizing: border-box;
    margin:0px;
    position:relative;
}
    
.socialsContainer{
    display:flex;
    max-width: 200px;
    justify-content: space-around;
    box-sizing: border-box;

}

.social{
    border: solid 2px #000;
    box-sizing: border-box;
    margin-top: 5px;
}

a{
    color:black;
}

.hello{
    border: solid 3px rgb(49, 175, 49);
    height:15vh;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    width:100%
}

.navBar{
    border: solid 3px rgb(49, 175, 49);
    box-sizing: border-box;
    display:flex;
    align-self: end;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right:0;
    height:7vh;
    background-color: #FFF;
}
.navBar *{
    text-decoration: none;
}
.linker{
    padding:7px;
    margin: 0px 10px;
    border: solid 3px rgb(76, 49, 175);
    
}

.aboutMe{
    display: flex;
}

.text, .graphic, .formContainer{
    border: solid 3px rgb(175, 49, 154);
    width:46%;
    margin: 2%;
    display: flex;
   align-items: center;
}

.text > p{
    color:red;
    font-size: 1.2em;
    margin: 5vw 5vw;
    text-align: justify;
}

.skills{
    display:flex;
    flex-direction: column;
}
h1{
    margin: 3vh;
    text-align: center;
    font-size: 40px;
    flex:1;
}
.skillsContainer{
    display:flex;
    justify-content: stretch;
    align-content: stretch;
    border: solid 3px rgb(29, 194, 180);
    flex:11;
}

.skillsHalf{
    border: solid 3px rgb(139, 158, 33);
    margin: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skillsHalf p{
    text-align: center;
    margin-top: 15px;
    flex: 1;
}
.wrapper {
    flex:10;
    height:80%;
    display:grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,minmax(auto, 220px));
    grid-auto-rows: 1fr;
}

.imgWrapper p{

    margin: 0px 1px 2px 2px;
}
img.skill{
    margin-left: auto;
    margin-right: auto;
    max-height:70px;
    width:auto;
    display: block;
}
@media(max-width:500px) {
   img.skill {
       margin-left: auto;
       margin-right: auto;
       max-height: 40px;
       width: auto;
       display: block;
   }
   .imgWrapper p {
    font-size: 0.8rem;
   }
}
.portfolio{
    display:flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

 .portfolio * {
     border: solid 3px rgb(233, 33, 33);
     margin: 2vh;
     align-self: stretch;
     justify-self: stretch;
     height: 40%;
 }

form > p{
    margin:5px 0px;
}

.contact.section {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    align-items: stretch;
}

.formContainer{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

form{
    width:100%;
    margin: 0 5%;
    position: relative;
}
input[type=text]{
    width:30%;
    min-width: 70px;
    margin-left: 5%;
}

textarea{
    box-sizing: border-box;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}

input[type=submit]{
    /* margin-left: 5%; */
    padding:3px 6px;
    position:absolute;
    left: calc(50% - 24px);
}

